<h1>Parameters</h1>

<table>
  <tr>
    <th>
      <td>
        Param
      </td>
      <td>
        Description
      </td>
    </th>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      t
    </td>
    <td>
      title
    </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      y
    </td>
    <td>
      year
    </td>
  </tr>
</table>

<p>
  Throw this in at the end of your url:
  search/?t=up&?y=2009
</p>
